{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: 50%;background-repeat: no-repeat;opacity: 1;margin-top: 45px;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-4 text-center mr-auto" style="padding-bottom: 41px;background-color: rgba(255,255,255,0.5);opacity: 1;border: solid;color: rgb(255,255,255);padding-left: 0px;border: 1px solid black;">
                    <h2 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;padding-top: 50px;font-size: 50px;text-transform: none!important;font-family: ABeeZee, sans-serif;">Young</h2>
                    <h2 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;padding-top: 50px;font-size: 50px;text-transform: none!important;font-family: ABeeZee, sans-serif;">Agile&nbsp;<span style="color: rgb(255,93,0);">.&nbsp;</span><span style="color: rgb(0,182,197);font-weight: normal;font-family: ABeeZee, sans-serif;">Lean</span></h2>
                    <h2 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;padding-top: 50px;font-size: 50px;text-transform: none!important;font-family: ABeeZee, sans-serif;">Competitive</h2>
                </div>
                <div class="col" style="background-size: cover;background-repeat: round;">
                    <div class="carousel slide" data-ride="carousel" id="carousel-1">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-image: url(&quot;{% static 'img/ian-schneider-TamMbr4okv4-unsplash.jpg' %}&quot;);background-size: cover;background-repeat: no-repeat;">
                                    <h1 class="hero-title" style="color: rgb(255,255,255);opacity: 0;"><strong>SAP S/4HANA</strong><br></h1>
                                    <p class="hero-subtitle" style="color: rgb(255,255,255);opacity: 0;">Boost your Business with SAP S/4HANA Digitization Platform When can help you to implement/migrate your current sap application</p>
                                    <p><a class="btn btn-primary hero-button plat" role="button" href="#" style="opacity: 0;">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left" style="color: rgb(0,0,0);"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1"
                                role="button" data-slide="next"><i class="fa fa-chevron-right" style="color: rgb(0,0,0);"></i><span class="sr-only">Next</span></a></div>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-image: url(&quot;{% static 'img/textured-bg.jpg' %}&quot;);background-repeat: no-repeat;background-size: auto;padding-top: 50px;">
        <h4 class="text-white" style="color: rgb(119,119,119)!important;font-size: 30px;text-transform: none!important;font-family: ABeeZee, sans-serif;margin-bottom: 20px;">We at Expound</h4>
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;padding-left: 55px;">
                <div class="col-lg-4 col-xl-5 text-center mr-auto shadow" style="padding-bottom: 41px;background-color: #ffffff;opacity: 1;border: solid;color: rgb(255,255,255);padding-top: 30px;">
                    <h5 class="text-left" style="color: rgb(58,58,58);margin-bottom: 14px;font-family: ABeeZee, sans-serif;">What makes us stand apart</h5>
                    <div style="width: 25px;height: 2.5px;background-color: rgb(52,122,177);"></div>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-size: 17px;font-weight: normal;margin-top: 10px;">We bring together the right people, strong domain knowledge, methodology and SAP competency which is required to meet current IT challenges.</p>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-weight: normal;font-size: 17px;">EXPOUND provides cost-effective solutions. Because we have SAP domain expertise spread across different industry verticle— Discrete manufacturing and process — we can assure you that we will assign a team to your project that understands
                        your industry and your needs and can help you stay competitive in the digital economy.</p>
                </div>
                <div class="col-lg-4 col-xl-5 text-center mr-auto shadow" style="padding-bottom: 41px;background-color: #ffffff;opacity: 1;border: solid;color: rgb(255,255,255);padding-top: 30px;">
                    <h5 class="text-left" style="color: rgb(58,58,58);margin-bottom: 14px;font-family: ABeeZee, sans-serif;">We're at your Service !</h5>
                    <div style="width: 25px;height: 2.5px;background-color: rgb(52,122,177);"></div>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: Actor, sans-serif;font-size: 17px;font-weight: normal;margin-top: 10px;">We provide the right solution for your company, be it recruiting the exact person or team to work directly for you, or outsourcing the entire project to EXPOUND. We provide SAP solutions that exceed our client’s expectations and we
                        do it on time and on budget.</p>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-weight: normal;font-size: 17px;margin-bottom: 0px;">Whether you require SAP Professional, IT staffing, Process consulting, Integration champion (offsite or onsite, time and materials or fixed bid projects) or offshore development solutions -EXPOUND is the best choice.</p>
                </div>
                <div class="col-xl-6 offset-xl-0" style="opacity: 0;"></div>
            </div>
        </div>
    </section>
    <section style="padding-bottom: 30px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-left" style="color: rgb(68,68,68);margin-bottom: 14px;font-family: ABeeZee, sans-serif;">Our Background</h3>
                    <hr style="background-color: rgba(52,122,177,0.88)!important;">
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-size: 16px;font-weight: normal;margin-top: 10px;">EXPOUND TECHNIVO PVT. LTD, founded in 2015, provides expertise in SAP Consulting and IT Staffing.</p>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-size: 16px;font-weight: normal;margin-top: 10px;">The EXPOUND management team has more than 20 years combined expertise in SAP consulting, corporate training, outsourcing and staffing. Our executive team has an intimate understanding of the challenges confronting companies in today’s
                        dynamic market. With strong domain SAP consultants, their tecnical and functional expertise , we can assure our client’s success.</p>
                    <p class="lead text-left" style="color: rgb(0,0,0);background-color: rgba(152,152,152,0);font-family: ABeeZee,;font-size: 16px;font-weight: normal;margin-top: 10px;margin-bottom: 80px;">At EXPOUND we are small enough that every project is important, and large enough to assure that every project will get done, on time and on budget.</p>
                </div>
                <div class="col-xl-6 d-xl-flex justify-content-xl-center align-items-xl-end" style="background-size: contain;background-repeat: no-repeat;background-image: url(&quot;{% static 'img/austin-distel-mpN7xjKQ_Ns-unsplash.jpg' %}&quot;);background-position: top;">
                    <div id="contactdiv" class="shadow" style="margin-top: 360px;background-color: rgba(52,122,177,0.88);padding: 20px;margin-left: 70px;">
                        <h5 class="d-xl-flex justify-content-xl-end align-items-xl-start" style="color: rgb(255,255,255);font-family: ABeeZee, sans-serif;">Feel free to reach us at</h5>
                        <p style="color: rgb(255,255,255);">sales@expoundtechnivo.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="carousel2" style="padding-top: 10px;">
        <div class="container">
            <h1>Listen from our Clients !</h1>
            <div class="carousel slide" data-ride="carousel" id="carousel-2">
                <div class="carousel-inner border rounded-0" role="listbox">
                    <div class="carousel-item active">
                        <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-color: rgb(255,255,255);background-image: url(&quot;0&quot;);"><i class="fa fa-envelope-o" style="background-image: url(&quot;0&quot;); color: rgb(0,0,0);font-size: 50px;"></i>
                            <h1 class="hero-title" style="color: rgb(0,0,0);">Client Name 1</h1>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;margin-bottom: 0px;padding-top: 0px;">Resource Manager:- NTTD DATA </p>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;">"Expound Resources are an Extended arm of our Team . Resources are Experts in their Subject and committed for assignment."</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-color: rgb(255,255,255);background-image: url(&quot;0&quot;);"><i class="fa fa-envelope-o"style="background-image: url(&quot;0&quot;); color: rgb(0,0,0);font-size: 50px;"></i>
                            <h1 class="hero-title" style="color: rgb(0,0,0);">Client Name 2</h1>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;margin-bottom: 0px;padding-top: 0px;">Program Manager:- Zensar Technology Ltd.</p>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;">"Expound Bring lot of Value in service. Resources are Cross functional and deliver Result on Time with lot of Flexibility and at competitive pricing."</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-color: rgb(255,255,255);background-image: url(&quot;0&quot;);"><i class="fa fa-envelope-o" style="background-image: url(&quot;0&quot;); color: rgb(0,0,0);font-size: 50px;"></i>
                            <h1 class="hero-title" style="color: rgb(0,0,0);">Client Name 3</h1>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;margin-bottom: 0px;padding-top: 0px;">Group CIO – Kirlosker Group</p>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;">"Expound Resources are creative in solutions. Few Resources are involve in S/4 Hana Global roll out. Team was an excellent and result oriented."</p>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron pulse animated hero-nature carousel-hero" style="background-color: rgb(255,255,255);background-image: url(&quot;0&quot;);"><i class="fa fa-envelope-o" style="background-image: url(&quot;0&quot;); color: rgb(0,0,0);font-size: 50px;"></i>
                            <h1 class="hero-title" style="color: rgb(0,0,0);">Client Name 4</h1>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;margin-bottom: 0px;padding-top: 0px;">Designation</p>
                            <p class="hero-subtitle" style="color: rgb(0,0,0);margin-top: 0px;">Review</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev"><i class="fa fa-chevron-left" style="color: rgb(0,0,0);"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-2"
                        role="button" data-slide="next"><i class="fa fa-chevron-right" style="color: rgb(0,0,0);"></i><span class="sr-only">Next</span></a></div>
                <ol class="carousel-indicators" style="background-color: #b8b6b6;">
                    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-2" data-slide-to="1"></li>
                    <li data-target="#carousel-2" data-slide-to="2"></li>
                    <li data-target="#carousel-2" data-slide-to="3"></li>
                </ol>
            </div>
        </div>
    </section>
    {% endblock %}  