{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- for solutions we offer mobile view  -->
    <style>
        @media (min-width: 700px) {
              .solutionweoffer {
                  margin-bottom: 50px;
                  margin-top: 260px!important ;
                }
        }  
        /* .card-service{
          width:30%;
          display: inline-flex;
          margin: 20px; 
          transition-duration: 1s;
          
        } 
        .card-service:hover{
          width:39%;
          
         
          transition-duration:1s;
         
        }
        .card-popup:hover{
          background-color:rgb(120, 128, 149);
          width:39%;
          height:50%;
          opacity:0;
          transition-duration:3s; 
        }
        .card1:hover::after{
          content:"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem fringilla ut morbi tincidunt augue. Non consectetur a erat nam at lectus.";
          opacity :1;
          transition-duration: 3s;
          
        } */
        .card-hov{
          background-color: #F9F9F9;
          transition-duration: 1s;
          border-radius: 25px;

        }
        .card-hov:hover{
          background-color: #fff;
          transition-duration: 1s;
          box-shadow: 5px 5px 5px rgb(34, 34, 34);
          border-radius: 25px;
          transform: scale(1.1);
        }
    </style>
    <!-- for solutions we offer mobile view  -->

    <section class="bg-primary text-white mb-0" style="background-image: url(&quot;{% static 'img/austin-distel-wawEfYdpkag-unsplash.jpg' %}&quot;);background-size: cover;background-position: 50%;background-repeat: no-repeat;opacity: 1;margin-top: 5px;background-color: rgba(255,255,255,0)!important;filter: invert(0%);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-xl-6 offset-xl-0" style="opacity: 0;"></div>
                <div class="col-lg-4 col-xl-5 text-center mr-auto" style="padding-bottom: 41px;background-color: rgba(255,255,255,0.8);opacity: 1;border: solid;color: rgb(255,255,255);">
                    <h2 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;padding-top: 50px;font-size: 50px;text-transform: none!important;font-family: ABeeZee, sans-serif;">We at Expound</h2>
                    <p class="lead" style="color: rgb(0,0,0);padding-left: 30px;background-color: rgba(152,152,152,0);font-family: ABeeZee,;">A full service provider of SAP solutions, we offer our customers a broad range of SAP consulting and support services.</p><a class="btn btn-outline-light btn-xl" role="button" id="landing-img-button" href="{% url 'contact' %}" style="color: rgb(7,11,8);border-color: rgb(45,80,112);margin-top: 10px;background-color: rgba(248,249,250,0.38);"><span>Get in touch &gt;</span></a></div>
            </div>
        </div>
    </section>
    
    <header class="bg-primary text-center" style="background-color: rgb(255,255,255)!important;color: black;padding:30px 0;">
      <h1 class="text-center"><br><strong>Global Capabilities, Local Excellence.</strong><br><br></h1>
      <div style="background-color: #3c505a;padding: 0 3%; ">
        <div class="row ml-auto mr-auto" style="max-width:100%;">
          <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
              <div class="card card-hov">
                  <div class="card-body text-center" data-bs-hover-animate="flash" style="padding-top: 20px;margin: 0px;">
                      <h4 class="card-title">Web Dev</h4><img src="static/img/programming.png" width="30%" style="width: 60px;">
                      <p class="card-text" style="margin: 15px ;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio.</p>
                  </div>
              </div>
          </div>
          <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
              <div class="card card-hov">
                  <div class="card-body text-center">
                      <h4 class="card-title">App Dev</h4><img src="static/img/app-development.png" style="width: 60px;">
                      <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
                  </div>
              </div>
          </div>
          <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
              <div class="card card-hov">
                  <div class="card-body text-center">
                      <h4 class="card-title">SAP</h4><img src="static/img/sap(1).png" style="width: 60px;">
                      <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
                  </div>
              </div>
          </div>
          <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
            <div class="card card-hov">
                <div class="card-body text-center">
                    <h4 class="card-title">SAP</h4><img src="static/img/sap(1).png" style="width: 60px;">
                    <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
                </div>
            </div>
          </div>
        </div>
      
      <div class="row ml-auto mr-auto" style="max-width:100%;">
        <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
            <div class="card card-hov">
                <div class="card-body text-center" data-bs-hover-animate="flash" style="padding-top: 20px;margin: 0px;">
                    <h4 class="card-title">Web Dev</h4><img src="static/img/programming.png" width="30%" style="width: 60px;">
                    <p class="card-text" style="margin: 15px ;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio.</p>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
            <div class="card card-hov">
                <div class="card-body text-center">
                    <h4 class="card-title">App Dev</h4><img src="static/img/app-development.png" style="width: 60px;">
                    <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
            <div class="card card-hov">
                <div class="card-body text-center">
                    <h4 class="card-title">SAP</h4><img src="static/img/sap(1).png" style="width: 60px;">
                    <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
                </div>
            </div>
        </div>
        <div class="col" style="margin: 30px;padding-right: 0;padding-left: 0;">
          <div class="card card-hov">
              <div class="card-body text-center">
                  <h4 class="card-title">SAP</h4><img src="static/img/sap(1).png" style="width: 60px;">
                  <p class="card-text" style="margin: 15px;margin-top: 15px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio</p>
              </div>
          </div>
      </div>
    </div>
  </div>
    </header>
    <section style="padding-top: 0px;">
      <div class="container" style="padding-top: 40px;">
          <h1 id="service-offering-heading" style="font-family: ABeeZee, sans-serif;color: rgb(91,91,91);">Service Offerings</h1>
            <div class="card-group">
              <div class="card card-service" id="service-offering-heading" style="border-left: 0px!important;border-top: 0px!important;border-bottom: 0px!important;border-right: 0;">
                  <div class="card-body">
                      <h4 class="card-title" style="text-align: center;font-size: 60px;"><a href="{% url 'services-sap-consulting' %}"><i class="la la-cubes" style="color: rgb(69,176,238);"></i></a></h4>
                      <h4 class="card-title" id="service-offering-heading"><a href="{% url 'services-sap-consulting' %}" style="color: rgb(91,91,91);font-family: ABeeZee, sans-serif;font-weight: normal;">SAP Consulting</a></h4>
                  </div>
              </div>
              <div class="card card-service" id="service-offering-heading" style="border-left: 0px!important;border-top: 0px!important;border-bottom: 0px!important;border-right: 0;">
                  <div class="card-body">
                      <h4 class="card-title" style="text-align: center;font-size: 60px;"><a href="{% url 'services-corporate-training' %}"><i class="la la-industry" style="color: rgb(69,176,238);"></i></a></h4>
                      <h4 class="card-title" id="service-offering-heading"><a href="{% url 'services-corporate-training' %}" style="font-family: ABeeZee, sans-serif;font-weight: normal;color: rgb(91,91,91);">Corporate Training</a></h4>
                  </div>
              </div>
              <div class="card card-service" id="service-offering-heading" style="border-left: 0px!important;border-top: 0px!important;border-bottom: 0px!important;border-right: 0;">
                  <div class="card-body">
                      <h4 class="card-title" style="text-align: center;font-size: 60px;"><a href="{% url 'services-professional-services' %}"><i class="la la-suitcase" style="color: rgb(69,176,238);"></i></a></h4>
                      <h4 class="card-title" id="service-offering-heading" style="text-align: center;"><a href="{% url 'services-professional-services' %}" style="font-family: ABeeZee, sans-serif;color: rgb(91,91,91);font-weight: normal;">Professional Services</a></h4>
                  </div>
              </div>
              <div class="card card-service" id="service-offering-heading" style="border-left: 0px!important;border-top: 0px!important;border-bottom: 0px!important;border-right: 0;">
                  <div class="card-body">
                      <h4 class="card-title" style="text-align: center;font-size: 60px;"><a href="{% url 'services-program-management' %}"><i class="fas fa-people-carry" style="color: rgb(69,176,238);"></i></a></h4>
                      <h4 class="card-title" id="service-offering-heading" style="text-align: center;color: rgb(91,91,91);font-weight: normal;font-family: ABeeZee, sans-serif;"><a href="{% url 'services-program-management' %}" style="color: rgb(91,91,91);font-weight: normal;font-family: ABeeZee, sans-serif;">Program Management</a></h4>
                  </div>
              </div>
              <div class="card card-service" id="service-offering-heading" style="border-left: 0px!important;border-top: 0px!important;border-bottom: 0px!important;border-right: 0;">
                  <div class="card-body">
                      <h4 class="card-title" style="text-align: center;font-size: 60px;"><a href="{% url 'services-center-of-excellence' %}"><i class="la la-globe" style="color: rgb(69,176,238);"></i></a></h4>
                      <h4 class="card-title" id="service-offering-heading" style="font-family: ABeeZee, sans-serif;color: rgb(91,91,91);"><a href="{% url 'services-center-of-excellence' %}" style="color: rgb(91,91,91);">Center of Excellence</a></h4>
                  </div>
              </div>
            </div>
      </div>
    </section>
  <hr>
    <section style="padding-top: 40px;padding:3% 15%;">
        <h1 style="text-align: center;margin-bottom: 20px;">The Expound Difference !</h1>
        <div class="container rounded-0" style="padding-top: 15px;background-color: #ffffff;font-family: 'Ubuntu',sans-serif;">
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-lg-6 align-self-center"><img src="static/img/cubes.png" style="width: 20%;" /></div>
            <div class="col-lg-6 text-center">
                <p style="color: rgb(115,115,115);font-family: 'Montserrat';">First Step:</p>
                <h3 class="text-center text-lg-center text-xl-center" style="margin-top: 3%;color:#548CA8">Product</h3>
                <p class="text-center align-content-lg-start"><br />Our solutions, accelerators, repository, reduce <br />project risks and duration which help in Rapid Implementation with Fast Run Approach.<br /><br /><br /></p>
            </div>
        </div>
        <hr style="border-top: dotted 1px; width: 10%;border-width: 10px;color:#B5EAEA">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-lg-6 order-2 order-lg-1 order-xl-1">
                <header></header>
                <p style="color: rgb(115,115,115);font-family: 'Montserrat';">Second Step:</p>
                <h3 class="text-center" style="margin-top: 3%;color:#548CA8">Process</h3>
                <p class="text-center"><br />SAP Business process management tool with activate methodology for implementation, automative support tool to improve service delivery and efficiency.<br /><br /></p>
            </div>
            <div class="col-lg-6 align-self-center order-1 order-lg-2 order-xl-2"><img src="static/img/process.png" style="width: 20%;" /></div>
        </div>
        <hr style="border-top: dotted 1px; width: 10%;border-width: 10px;color:#B5EAEA">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-lg-6 align-self-center"><img src="static/img/capital-venture.png" style="width: 20%;" /></div>
            <div class="col-lg-6">
                <p style="color: rgb(115,115,115);font-family: 'Montserrat';">Third step:</p>
                <h3 class="text-center" style="margin-top: 3%;color:#548CA8">Human Capital</h3>
                <p><br />Human capital refers to the employees Skill, knowledge, experience and <br />their capabilities to deliver stake holders expectations.Therefore we <br />attract, develop and retain the best people.<br /><br /></p>
            </div>
        </div>
        <hr style="border-top: dotted 1px; width: 10%;border-width: 10px;color:#B5EAEA">
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2" style="margin-top: 5%;margin-bottom: 5%;">
            <div class="col-lg-6 order-2 order-lg-1 order-xl-1">
                <p style="color: rgb(115,115,115);font-family: 'Montserrat';">Fourth Step:</p>
                <h3 style="margin-top: 3%;color:#548CA8">Results</h3>
                <p><br />A global template defines the solution blueprint of the global ERP <br />solution. It provides the basic information on the standard processes<br /><br /></p>
            </div>
            <div class="col-lg-6 align-self-center order-1 order-lg-2 order-xl-2"><img src="static/img/data-analytics.png" style="width: 20%;" /></div>
        </div>
        </div>
    </section>
    <hr>
    <section style="padding-top: 30px;">
        <div class="container">
            <h1 style="color: rgb(0,0,0);border-bottom: 3px solid black;font-family: ABeeZee, sans-serif;margin-bottom: 30px;padding-bottom: 7px;">Solutions we offer</h1>
            <div class="row">
                <div class="col" style="padding-top: 50px;background-image: url(&quot;{% static 'img/photo-of-person-holding-mobile-phone-3183153.jpg' %} &quot;);background-repeat: no-repeat;background-size: cover;padding-right: 60px;padding-left: 75px;">
                    <div class="solutionweoffer">
                        <div class="card-group" >
                            <div class="card" style="background-color: rgba(255,255,255,0.82);">
                                <div class="card-body">
                                    <h4 class="card-title">S/4 HANA</h4>
                                    <p class="card-text">Get an overview of services for SAP S/4HANA and discover how we can help you address key aspects of your project, enforce best practices, and set up your own operations for ongoing success.</p><a class="btn btn-primary"
                                        role="button" style="background-color: rgb(69,176,238);border: 0px!important;color: rgb(255,255,255);" href="{% url 'solutions-sap-hana' %}">KNOW MORE</a></div>
                            </div>
                            <div class="card" style="background-color: rgba(255,255,255,0.82);">
                                <div class="card-body">
                                    <h4 class="card-title">SAP ANALYTICS</h4>
                                    <p class="card-text">SAP Analytics Cloud lays the foundation for fast, modular use, and can grow alongside your business. As a true cloud solution, SAP Analytics Cloud is convenient, secure, and scales to meet the needs of businesses of
                                        any size.</p><a class="btn btn-primary" role="button" style="background-color: rgb(69,176,238);border-color: rgb(69,176,238);" href="{% url 'solutions-sap-analytics' %}">KNOW MORE</a></div>
                            </div>
                            <div class="card" style="background-color: rgba(255,255,255,0.82);">
                                <div class="card-body">
                                    <h4 class="card-title">SAP MIGRATION SERVICES</h4>
                                    <p class="card-text">SAP S/4HANA is the digital core platform which develops the enterprise business to take benefits of all advances technologies like in memory platform, improved end user experience, simplified IT landscape, Internet of Things (IoT), real-time analytics, mobility, big data and many more next generation technologies.</p><a class="btn btn-primary" role="button" style="background-color: rgb(69,176,238);border-color: rgb(69,176,238);" href="{% url 'solutions-sap-migrations' %}">KNOW MORE</a></div>
                            </div>
                            <div class="card" style="background-color: rgba(255,255,255,0.82);">
                                <div class="card-body">
                                    <h4 class="card-title">SAP MOBILITY/FIORI</h4>
                                    <p class="card-text">With Standard & Customize Fiori APP Client can access the Right information and Develop Key Internal Control Points .We Provide Wide range of services for Fiori<br></p><a class="btn btn-primary" role="button" style="background-color: rgb(69,176,238);border-color: rgb(69,176,238);" href="{% url 'solutions-sap-mobility' %}">KNOW MORE</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section style="padding-top: 0px;">
  <style>
    @-webkit-keyframes scroll {
0% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
100% {
  -webkit-transform: translateX(calc(-250px * 17));
          transform: translateX(calc(-250px * 17));
}
}
@keyframes scroll {
0% {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
100% {
  -webkit-transform: translateX(calc(-250px * 17));
          transform: translateX(calc(-250px * 17));
}
}
.slider {
background: white;
box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
height: 200px;
margin: auto;
overflow: hidden;
position: relative;
width: 100%;
}
.slider::before, .slider::after {
background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
content: "";
height: 200px;
position: absolute;
width: 200px;
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
-webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
}
.slider::before {
left: 0;
top: 0;
}
.slider .slide-track {
-webkit-animation: scroll 40s linear infinite;
        animation: scroll 40s linear infinite;
display: -webkit-box;
display: flex;
width: calc(250px * 14);
}
.slider .slide {
height: 200px;
width: 250px;
margin-right: 40px;
margin-left: 40px;
}


  </style>
   
      <h1 style="color: rgb(0,0,0);border-bottom: 3px solid black;font-family: ABeeZee, sans-serif;margin-bottom: 30px;padding-bottom: 7px;">Our clients</h1>
    <br>
    <div class="owl-carousel owl-theme text-center">
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/Official_logo_of_Piramal_Enterprises_and_Group.svg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/deesan.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/cooperstandard.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/Gujarat-Heavy-Chemicals-Ltd.jpg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/client-shree-mahavir-metal.jpg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/MAHA.jpg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/go.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/tata.jpg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/alkyl.jpeg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/tk.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/mt.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/Sterling-Wilson.jpg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/kirloskar-logo-92C38BA575-seeklogo.com.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/zensar.jpeg" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/GT.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
      <div class="item">
        <img src="http://expoundtechnivo.com/static/clients/IS.png" style="height:150px;width:200px;position:relative;left:50px;" alt="" />
      </div>
    </div>
    
    <hr>
  
</section>
    
    <!--  
    <section id="chat" class="bg-primary text-white mb-0" style="background-color: rgb(245,245,245)!important;padding-top: 0px;">
        <h1 style="color: rgb(0,0,0);text-align: center;padding-bottom: 20px;padding-top: 20px;">We're at your Service</h1>
        <div class="container border rounded-0" style="border-width: 0px!important;background-color: #ffffff;">
    <div class="row rounded-lg overflow-hidden shadow">
    
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1" style="color:black">Recent</p>
        </div>

        <div class="messages-box" style="background-color:rgb(1,105,188) border: 1px solid black!important">
          <div class="list-group rounded-0" style="background-color:rgb(1,105,188)">
            <a class="list-group-item list-group-item-action active text-white rounded-0" style="background-color:#66b1ed">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4" style="background-color:#66b1ed">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">25 Dec</small>
                  </div>
                  <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">14 Dec</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur. incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">9 Nov</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">18 Oct</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">17 Oct</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">2 Sep</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">30 Aug</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

            <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
              <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">21 Aug</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>-->
    <!--Chat Box
    <div class="col-7 px-0" style="border: 1px solid rgb(248,249,250)!important">
      <div class="px-4 py-5 chat-box bg-white">-->
        <!-- Sender Message 
        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>
        -->
        <!-- Reciever Message-->
        <!-- 
        <div class="media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="rounded py-2 px-3 mb-2" style="background-color:#66b1ed">
              <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>
 -->
        <!-- Sender Message-->
        <!-- 
        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">Test, which is a new approach to have</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>
 -->
        <!-- Reciever Message-->
        <!-- 
        <div class="media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="rounded py-2 px-3 mb-2" style="background-color:#66b1ed">
              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>
 -->
        <!-- Sender Message-->
        <!-- 
        <div class="media w-50 mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <p class="text-small mb-0 text-muted">Test, which is a new approach</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>
 -->
        <!-- Reciever Message-->
        <!-- 
        <div class="media w-50 ml-auto mb-3">
          <div class="media-body">
            <div class="rounded py-2 px-3 mb-2" style="background-color:#66b1ed">
              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
            </div>
            <p class="small text-muted">12:00 PM | Aug 13</p>
          </div>
        </div>

      </div>
 -->
      <!-- Typing area -->
      <!-- 
      <form action="#" class="bg-light">
        <div class="input-group">
          <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
</section>
-->
{% endblock %}
