{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-top: 13px;"></section>
    <section class="border rounded-0" style="padding-bottom: 30px;padding-top: 40px;background-size: auto;background-repeat: no-repeat;background-position: 7% -99%;background-image: url(&quot;{% static 'img/gear.png' %}&quot;);margin-top: 0px;margin-left: 0px;margin-right: 0px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 style="color: rgb(50,50,50);font-family: ABeeZee, sans-serif;">From Terrain to Skies, we've covered<span style="color: rgba(52,122,177,0.88);">&nbsp;Everything.</span>&nbsp;</h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-bottom: 30px;padding-top: 40px;">
        <h3 class="text-center" style="color: rgb(68,68,68);margin-bottom: 14px;font-family: ABeeZee, sans-serif;font-size: 30px;"><strong>Process Industry</strong><br></h3>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-xl-5">
                    <h3 class="text-left" style="color: rgb(68,68,68);margin-bottom: 14px;font-family: ABeeZee, sans-serif;font-size: 20px;margin-top: 10px;">Services offered by EXPOUND are:</h3>
                    <hr style="background-color: rgba(52,122,177,0.88)!important;">
                    <ul class="list-group text-left" style="border: 0.0px solid rgb(91,147,171);">
                        <li class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Innovation Management<br></span></li>
                        <li
                            class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Supplier Collaboration<br></span></li>
                            <li
                                class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Supply Chain Planning and Execution<br></span></li>
                                <li
                                    class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Manufacturing<br></span></li>
                                    <li
                                        class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Sales and Marketing<br></span></li>
                                        <li
                                            class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Advanced Returns Management with Customer Returns and Replacement Material<br></span></li>
                                            <li
                                                class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Quality Management and Compliance<br></span></li>
                                                <li
                                                    class="list-group-item" style="border: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;margin-bottom: 6px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 16px;font-family: ABeeZee, sans-serif;">Enterprise Management and Support<br></span></li>
                    </ul>
                </div>
                <div class="col-xl-7 d-xl-flex justify-content-xl-center align-items-xl-end" style="background-size: cover;background-repeat: no-repeat;background-image: url(&quot;{% static 'img/kat-maryschuk-5BFvAPQTi1U-unsplash.jpg' %}&quot;);background-position: bottom;">
                    <div id="contactdiv" class="shadow" style="margin-top: 360px;background-color: rgba(52,122,177,0.88);padding: 20px;margin-left: 70px;">
                        <h5 class="d-xl-flex justify-content-xl-end align-items-xl-start" style="color: rgb(255,255,255);font-family: ABeeZee, sans-serif;font-size: 22px;"><strong>Why Expound?</strong></h5>
                        <p style="color: rgb(255,255,255);margin-bottom: 0px;">Because we help you&nbsp;</p>
                        <p style="color: rgb(255,255,255);margin-bottom: 0px;">survive and&nbsp;</p>
                        <p style="color: rgb(255,184,131);font-size: 18px;">thrive.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container">
            <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;margin-bottom: 30px;color: rgb(75,135,182);">Explore our industry solution</h3>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;background-size: contain;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Commitment</h1>
                        <p class="card-text" style="font-size: 18px;">Experience the real commitment.Expound Team has the industry experience of 15+ Years.</p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/like.svg' %}&quot;);background-repeat: no-repeat;font-size: 80px;background-size: contain;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Quality Assurance</h1>
                        <p class="card-text" style="font-size: 18px;">We aim to optimize and drive efficiency to be the best in the industry for our customers.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static   'img/Icon/target.svg' %}&quot;);font-size: 80px;background-size: contain;background-repeat: no-repeat;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Customer Care</h1>
                        <p class="card-text" style="font-size: 18px;">A customer oriented company where we help our clients grow internationally as well as domestically.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}