{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;background-image: url(&quot;{% static 'img/image.jpeg' %}&quot;);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-12 text-center mr-auto" style="background-color: rgba(255,255,255,0);opacity: 1;padding-left: 0px;margin-top: 40px;">
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(255,255,255);padding-top: 40px;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 40px;text-decoration: underline;font-size: 20px;margin-bottom: 0px;">Services</h1>
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 80px;"><span style="color: rgb(168,237,242);font-weight: normal;font-family: ABeeZee, sans-serif;font-size: 25px;"><strong>Professional Services</strong></span><span style="color: rgb(255,93,0);">.&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 offset-xl-0" style="border: 0.0px solid;">
                    <h3 class="text-center" style="font-size: 25px;margin-top: 20px;font-family: ABeeZee, sans-serif;color: rgb(232,158,0);">SAP is all we do !<br></h3>
                    <p style="font-size: 18px;">We have a Good Pool of SAP Professional In all Functional &amp; Technical Modules. Mainly exposed to SAP S/4 Hana Environment Latest Version of SAP.<br></p>
                    <p style="font-size: 18px;">In IT Staffing We provide Senior &amp; Middle Level consultants with process and Integration knowledge (Offsite/Onsite) on time and Material or fixed Cost basis<br></p>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;"></section>
    <section style="padding-top: 0px;">
        <div class="container">
            <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;margin-bottom: 30px;color: rgb(75,135,182);">We at Expound</h3>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;background-size: contain;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Commitment</h1>
                        <p class="card-text" style="font-size: 18px;">Experience the real commitment.Expound Team has the industry experience of 15+ Years.</p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/like.svg' %} &quot;);background-repeat: no-repeat;font-size: 80px;background-size: contain;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Quality Assurance</h1>
                        <p class="card-text" style="font-size: 18px;">We aim to optimize and drive efficiency to be the best in the industry for our customers.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/target.svg' %}&quot;);font-size: 80px;background-size: contain;background-repeat: no-repeat;"></i>
                        <h1 style="font-size: 27px;font-family: ABeeZee, sans-serif;">Customer Care</h1>
                        <p class="card-text" style="font-size: 18px;">A customer oriented company where we help our clients grow internationally as well as domestically.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}