{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;background-image: url(&quot;{% static 'img/image.jpeg' %}&quot;);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-12 text-center mr-auto" style="background-color: rgba(255,255,255,0);opacity: 1;padding-left: 0px;margin-top: 40px;">
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(255,255,255);padding-top: 40px;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 40px;text-decoration: underline;font-size: 20px;margin-bottom: 0px;">Services</h1>
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 80px;"><span style="color: rgb(168,237,242);font-weight: normal;font-family: ABeeZee, sans-serif;font-size: 25px;"><strong>Program Management</strong></span><span style="color: rgb(255,93,0);">.&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 offset-xl-0" style="border: 0.0px solid;">
                    <p style="font-size: 18px;font-family: ABeeZee, sans-serif;">We have highly experienced program managers and project managers with the leadership capabilities to successfully guide, manage complex Multi Site Projects by Adopting SAP Recommended Project Mehtodlogy ( Activate , Agile )</p>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container">
            <hr>
            <ul class="list-group text-left" style="border: 0.0px solid rgb(91,147,171);">
                <li class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;assets/img/Icon/check.svg&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;font-family: ABeeZee, sans-serif;">Our Program Management Team is Available for Long term /Short Term Assignment.<br></span></li>
                <li
                    class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Filling Skill Set Gaps.<br></span></li>
                    <li
                        class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(33,37,41,0);background-repeat: no-repeat;background-size: contain;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Addressing Change Management.<br></span></li>
                        <li
                            class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{%   static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Strong leadership To Project Team and ground Support to Project Team when demand Exceeds Capacity.<br></span></li>
                            <li
                                class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Equipped with Project Management tools and carry exper'se on Quality Assurance.<br></span></li>
                                <li
                                    class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Experienced on Rapid Implementa'on with Global Template approach.<br></span></li>
            </ul>
        </div>
    </section>
    {% endblock %}