{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;background-image: url(&quot;{% static 'img/image.jpeg' %}&quot;);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-12 text-center mr-auto" style="background-color: rgba(255,255,255,0);opacity: 1;padding-left: 0px;margin-top: 40px;">
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(255,255,255);padding-top: 40px;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 40px;text-decoration: underline;font-size: 20px;margin-bottom: 0px;">Solutions</h1>
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;text-transform: none!important;font-family: ABeeZee, sans-serif;"><span style="color: rgb(168,237,242);font-weight: normal;font-family: ABeeZee, sans-serif;font-size: 25px;padding-left: 70px;">SAP Mobility/FIORI</span><span style="color: rgb(255,93,0);">.&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 offset-xl-0" style="border: 0.0px solid;">
                    <h3 class="text-center" style="font-size: 30px;margin-top: 20px;font-family: ABeeZee, sans-serif;color: rgb(75,135,182);">Drive agility and boost productivity with SAP Mobility solutions<br></h3>
                    <p class="text-center" style="font-size: 19px;font-family: ABeeZee, sans-serif;">Transform your organisation. Give your employees secure mobile access to the information and systems they need most – anytime, anywhere, and on any device – with SAP Mobility solutions. Leverage a wide range of mobile apps and underlying
                        infrastructure, and get ready to out-manoeuvre the competition at every turn – no matter what the size of your business.<br></p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container">
            <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;margin-bottom: 30px;">Why Choose SAP Mobility solutions?&nbsp;<br></h3>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/data-complexity.svg' %}&quot;);color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">Provide employees with real-time access to contextual information and key systems.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/target.svg' %}&quot;);background-repeat: no-repeat;font-size: 80px;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">Boost task and information worker productivity.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/wrong.svg' %}&quot;);font-size: 80px;background-size: contain;background-repeat: no-repeat;"></i>
                        <p class="card-text" style="font-size: 18px;">Improve decision making in the field.<br></p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/access.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Extend the value of your enterprise applications with mobile accessibility.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/ui.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Gain full control of a wide range of devices and applications with centralised device management.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/return-of-investment.svg' %} &quot;);background-size: contain;background-repeat: no-repeat;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Deploy enterprise-grade applications and drive mobile initiative across your entire organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}