{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;background-image: url(&quot;{% static 'img/image.jpeg' %}&quot;);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-12 text-center mr-auto" style="background-color: rgba(255,255,255,0);opacity: 1;padding-left: 0px;margin-top: 40px;">
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(255,255,255);padding-top: 40px;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 40px;text-decoration: underline;font-size: 20px;margin-bottom: 0px;">Solutions</h1>
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;text-transform: none!important;font-family: ABeeZee, sans-serif;"><span style="color: rgb(168,237,242);font-weight: normal;font-family: ABeeZee, sans-serif;font-size: 25px;padding-left: 60px;">SAP Migration Services</span><span style="color: rgb(255,93,0);">.&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 offset-xl-0" style="border: 0.0px solid;">
                    <h3 class="text-center" style="font-size: 22px;margin-top: 20px;font-family: ABeeZee, sans-serif;color: rgb(232,158,0);">Powerful data systems ensure predictability, scalability and increased responsiveness&nbsp;</h3>
                    <p class="text-center" style="font-size: 18px;font-family: ABeeZee, sans-serif;">Transformation from Enterprise solution to SAP S/4 Hana&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container" style="border: .5px solid rgba(102,102,102,0.6);padding-top: 10px;">
            <h3 style="font-size: 22px;font-family: ABeeZee, sans-serif;color: rgb(75,135,182);background-repeat: rgb(232,158,0);">Organization need In memory data base management to access Multi-Dimensional Reporting with Large volume of transaction . SAP S/4 Hana Provide Real Time Data base Access for the same.<br></h3>
            <hr>
            <ul class="list-group text-left" style="border: 0.0px solid rgb(91,147,171);">
                <li class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;font-family: ABeeZee, sans-serif;">Reduce IT complexity with simplified Bunsiess Processes in finance, logistics and In supply chain.<br></span></li>
                <li
                    class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">User Friendly Front End with New function base access control.<br></span></li>
                    <li
                        class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(33,37,41,0);background-repeat: no-repeat;background-size: contain;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Create one version of truth with consolidated enterprise data with real time insight.<br></span></li>
                        <li
                            class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Capture real-time prediction, simulation and analytical capabilities for agile decision making.<br></span></li>
                            <li
                                class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(33,37,41,0);font-size: 25px;background-size: contain;background-repeat: no-repeat;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Improve forecasting accuracy and scenario planning.<br></span></li>
                                <li
                                    class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(33,37,41,0);font-size: 25px;background-repeat: no-repeat;background-size: contain;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Align operational plans with corporate goals, initiatives and metrics.<br></span></li>
                                    <li
                                        class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Ensure users can own and modify common processes without IT assistance.<br></span></li>
            </ul>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container">
            <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;margin-bottom: 30px;">Our Experts can Guide throughout Migration journey:<br></h3>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/route.svg' %}&quot;);color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">We guide business on conversion road map mainly on application Changes and Hardware deployment and hosting option.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/syncronization.svg' %} &quot;);color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">Provide Migration Template for delta Functionality and maximize system functionality and performance with Add on Features.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/analysis.svg' %}&quot;);background-repeat: no-repeat;font-size: 80px;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">Analysis of Enhancement and Development and conduct process optimization work shop<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/optimization.svg' %}&quot;);font-size: 80px;background-size: contain;background-repeat: no-repeat;"></i>
                        <p class="card-text" style="font-size: 18px;">Upgrade process is done within a minimum time-span to simplify the business processes<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock  %}