{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="bg-primary text-white mb-0" style="background-size: cover;background-position: top;background-repeat: no-repeat;opacity: 1;background-color: rgba(255,255,255,0)!important;filter: invert(0%);padding-bottom: 70px;background-image: url(&quot;{%  static 'img/image.jpeg' %} &quot;);">
        <div class="container border rounded-0" style="border: none!important;">
            <div class="row" style="border: none!important;">
                <div class="col-lg-5 col-xl-12 text-center mr-auto" style="background-color: rgba(255,255,255,0);opacity: 1;padding-left: 0px;margin-top: 40px;">
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(255,255,255);padding-top: 40px;text-transform: none!important;font-family: ABeeZee, sans-serif;padding-left: 40px;text-decoration: underline;font-size: 20px;margin-bottom: 0px;">Solutions</h1>
                    <h1 class="text-uppercase text-center text-white" style="color: rgb(0,0,0)!important;text-transform: none!important;font-family: ABeeZee, sans-serif;"><span style="color: rgb(168,237,242);font-weight: normal;font-family: ABeeZee, sans-serif;font-size: 25px;">S/4 HANA – In Memory computing Solution for Business Of All Sizes&nbsp;</span><span style="color: rgb(255,93,0);">.&nbsp;</span></h1>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 20px;padding-bottom: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 offset-xl-0" style="border: 0.0px solid;">
                    <h3 class="text-center" style="font-size: 30px;margin-top: 20px;font-family: ABeeZee, sans-serif;color: rgb(75,135,182);">Transform Business through S/4 HANA</h3>
                    <p class="text-center" style="font-size: 19px;font-family: ABeeZee, sans-serif;">New challenges of business Need Latest Technology .SAP S/4 HANA Provide Greater Flexibility and the ability to Execute without limitation .To compete in the digital world, businesses need to move beyond their legacy ERP systems and
                        operate at the speed of the best real-time technology.</p>
                </div>
            </div>
            <hr>
        </div>
    </section>
    <section style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xl-3">
                    <h4 style="font-size: 18px;">Other solutions we offer</h4>
                    <div class="list-group"><a class="list-group-item list-group-item-action" data-toggle="list" href="Solutions-SAP%20HANA.html">S/4 HANA</a><a class="list-group-item list-group-item-action" data-toggle="list" href="#list-profile">SAP Analytics</a><a class="list-group-item list-group-item-action"
                            data-toggle="list" href="#list-messages">SAP Migration Services</a><a class="list-group-item list-group-item-action" data-toggle="list" href="#list-settings">SAP Mobility</a></div>
                </div>
                <div class="col-xl-9 offset-xl-0" style="border: 0.5px solid;">
                    <h3 class="text-left" style="font-size: 30px;margin-top: 20px;font-family: ABeeZee, sans-serif;color: rgb(75,135,182);">Transform Business through S/4 HANA</h3>
                    <p class="text-left" style="font-size: 19px;font-family: ABeeZee, sans-serif;">New challenges of business Need Latest Technology .SAP S/4 HANA Provide Greater Flexibility and the ability to Execute without limitation .To compete in the digital world, businesses need to move beyond their legacy ERP systems and
                        operate at the speed of the best real-time technology.</p>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <div class="container">
            <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;margin-bottom: 30px;">How SAP S/4 HANA Help Business to grow</h3>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="background-image: url({% static 'img/Icon/server.svg' %} );color: rgba(80,127,174,0);font-size: 80px;background-repeat: no-repeat;"></i>
                        <p class="card-text" style="font-size: 18px;">S/4HANA removes common obstacles associated with legacy ERP applications.</p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/attribution.svg' %}    &quot;);background-repeat: no-repeat;font-size: 80px;background-size: contain;"></i>
                        <p class="card-text" style="font-size: 18px;">Access data from multiple sources to give a true picture of your entire business.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/optimization.svg' %}&quot;);font-size: 80px;background-size: contain;background-repeat: no-repeat;"></i>
                        <p class="card-text" style="font-size: 18px;">Analyze big data at the speed of thought and drive rapid innovation.<br></p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static  'img/Icon/forecast.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Discover trends and patterns and improve planning and forecasting.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/ui.svg' %}  &quot;);background-size: contain;background-repeat: no-repeat;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Cloud, on-premise, or hybrid deployment.<br></p>
                    </div>
                </div>
                <div class="card" style="border: 0px;">
                    <div class="card-body"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/return-of-investment.svg'%}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 80px;"></i>
                        <p class="card-text" style="font-size: 18px;">Optimization Of ROI and TCO In IT Budget.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top: 0px;">
        <h3 style="font-size: 30px;font-family: ABeeZee, sans-serif;color: rgb(75,135,182);background-repeat: rgb(232,158,0);">Our Expertise in S/4 Hana Implementation &amp; Migration<br></h3>
        <div class="container">
            <hr>
            <ul class="list-group text-left" style="border: 0.0px solid rgb(91,147,171);">
                <li class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="color: rgba(33,37,41,0);background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-size: contain;background-repeat: no-repeat;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;font-family: ABeeZee, sans-serif;">We Provide Delta Analysis Between SAP ECC 6.0 Visa a Vis SAP S/4 Hana for Cost Benefit Analysis.<br></span></li>
                <li
                    class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Conduct workshop to Manage Critical business process with Advance New Features In SAP S/4 HANA like Usage of Material Ledger in Finance or PPDS For Planning.<br></span></li>
                    <li
                        class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);color: rgba(33,37,41,0);background-repeat: no-repeat;background-size: contain;font-size: 25px;"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Focus on MIS and Internal Control by Using lastest functionality available in SA S/4 Hana.<br></span></li>
                        <li
                            class="list-group-item" style="border: 0px;"><i class="fa fa-star" style="background-image: url(&quot;{% static 'img/Icon/check.svg' %}&quot;);background-repeat: no-repeat;background-size: contain;font-size: 25px;color: rgba(33,37,41,0);"></i><span style="color: rgb(102,102,102);margin-left: 10px;font-size: 20px;">Focus on MIS and Internal Control by Using lastest functionality available in SA S/4 Hana.<br></span></li>
            </ul>
        </div>
    </section>
{% endblock %}